#head{
    border-bottom:2px solid #337AB7;
    padding-bottom:10px;
    /* 	color:#337AB7 */
}
#listOrder{
    color : white;
    text-decoration:none;
}
#title{
    color:white;
    marin-left:100px;
}
#nav{
    background-color: #337AB7;
    color:#337AB7;
}
#picture{
    width:100px;
    height:100px;
}
body{
    background-color:#F5F5F5
}
#score{
    font-family: \5FAE\8F6F\96C5\9ED1;
    font-size: 34px;
    font-weight: 900;
}
#scorediv{
    color: #898989;
    text-align:center;
    margin-top:20px;
}
#cartContent{
    position:fixed;
    bottom: 30px;
    right: 30px;
    width: 400px;
    border-radius:10px;
    background-color: #F5F5F5;
    border:solid 2px #337AB7;
    display: none;
}
#cartHead{
    color:white;
    background-color: #337AB7;
    text-align: center;
}
#cartBody{
    margin-top: 5px;
}
#cart{
    position:fixed;
    bottom: 20px;
    right: 20px;
    background-color: #337AB7;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align:center;
    font-size: 20px;
    color: white;
    cursor:pointer;
}
#cart span{
    margin-top: 10px;
}
#delete,#order{
    cursor:pointer;
}
footer{
    color: #999;
    text-align: center;
    font-size: 12px;
    font-family: initial;
    margin-top:70px;
}